header .hidden { display: none; }

header li .close {
  width: 100%;
  margin: auto;
}

header #ham.menu__active span  {
  display: none;
}

header #ham span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

header,
header .logo,
header nav ul {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid black;
}

header .logo {
  gap: .25rem;
  user-select: none;
}

header .logo p {
  flex-basis: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: lighter;
}

header .logo span {
  font-size: 5rem;
  font-weight: bolder;
}

header nav ul.menu__active {
  position: fixed;
  opacity: 1;
  display: block;
  transform: translateX(-100px);
  line-height: 2.25rem; 
}

header nav ul.menu__active li a {
  font-size: 1rem;
  padding: 1rem;
}

header nav ul {
  list-style: none;
  gap: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all .3s;
  user-select: none;
}

header nav ul li .active,
header nav ul li a:hover {
  color: #fa4529;
}

@media screen and (max-width: 1100px) {
  header nav ul {
    /* display: none; */
    opacity: 0;
    position: absolute;
    top: -15px;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    transform: translateX(200px);
    transition: all 1s;
  }
}

@media screen and (min-width: 1101px) {
  header #ham {
    display: none;
  }
}